$primary-passion-color: #d41443;
$primary-white-color: #ffffff;
$black-text-color: #000000;
$gray-text-color: #907e82;
$title-pink-color: #ffa5ba;

$font-family-body: 'DM Sans', sans-serif;
$font-family-title: 'Titan One', sans-serif;
$font-size-main: 16px;
$font-size-subtitle: 30px;
$font-size-title: 58px;
$font-weight-body: 400;
$font-weight-bold: 700;
$letter-spacing-body: 0.04em;

$shadow-card: 0px 8px 30px rgba(212, 20, 67, 0.1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$hover-button: #ecebeb;
$hover-passion-button: #c7133e;
