
<div class="footer">
    <div class="container footer-container">
        <h2 class="footer-title">homemade ice cream <br> made  <span class="footer-title-large">with <br> passion</span></h2>
        <!-- <div > -->
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a class="footer-social-link" href="">
                        <svg class="icon-github">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link" href="">
                        <svg class="icon-telegram">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link" href="">
                        <svg class="icon-facebook">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>     
            <span class="phone-title">Feel free to contact <a class="phone-link" href="tel:+610383766284">+61 (0) 383 766 284</a></span>
        <!-- </div> -->
            <p class="copyright"><span>&copy; 2019 - IceCream.</span> <span>All Rights Reserved.</span> </p>  
        
    </div>
</div>
