<section class="hero">
    <div class="container hero-container">
        <ul class="list-hero">


            <li class="item-hero hero-left-part">
                <h1 class="hero-heading">
                    <span class="hero-heading-fisrt-part">ice cream made with</span>
                    <span class="hero-heading-two-part">passion</span>
                </h1>
                <div class="hero-btn-container">
                    <button class="hero-btn-products">Products</button>
                    <button class="hero-btn-how-made">How it’s made?</button>
                </div>
                <div class="hero-description-container">
                    <div class="hero-description-thumb-img">
                        <picture>
                            <source media="(min-width: 1200px )"
                                srcset="./images/hero/desctop/jpg/milk-x1.jpg 1x, ./images/hero/desctop/jpg/milk-x2.jpg 2x, ./images/hero/desctop/webp/milk-x1.webp 1x, ./images/hero/desctop/webp/milk-x2.webp 2x"
                                type="image/">
                            <source media="(min-width: 768px)"
                                srcset="./images/hero/tablet/jpg/milk-x1.jpg 1x, ./images/hero/tablet/jpg/milk-x2.jpg 2x, ./images/hero/tablet/webp/milk-x1.webp 1x, ./images/hero/tablet/webp/milk-x2.webp 2x"
                                type="image/">
                            <img src="./images/hero/desctop/jpg/milk-x1.jpg" alt="">
                        </picture>
                    </div>
                    <div class="hero-description-thumb-text">
                        <p class="hero-descrition-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                        </p>
                        <svg class="hero-icon-arrow" width="26" height="26">
                            <use href="./images/sprite.svg#icon-button-arrow"></use>
                        </svg>
                    </div>
                </div>
            </li>


            <li class="item-hero hero-center-part">
                <picture>
                    <source media="(min-width: 1200px )"
                        srcset="./images/hero/desctop/jpg/icecream-x1.jpg 1x, ./images/hero/desctop/jpg/icecream-x2.jpg 2x, ./images/hero/desctop/webp/icecream-x1.webp 1x, ./images/hero/desctop/webp/icecream-x2.webp 2x"
                        type="image/">
                    <source media="(min-width: 768px)"
                        srcset="./images/hero/tablet/jpg/icecream-x1.jpg 1x, ./images/hero/tablet/jpg/icecream-x2.jpg 2x, ./images/hero/tablet/webp/icecream-x1.webp 1x, ./images/hero/tablet/webp/icecream-x2.webp 2x"
                        type="image/">
                    <source media="(min-width: 320px)"
                        srcset="./images/hero/mobile/jpg/icecream-x1.jpg 1x, ./images/hero/mobile/jpg/icecream-x2.jpg 2x, ./images/hero/mobile/webp/icecream-x1.webp 1x, ./images/hero/mobile/webp/icecream-x2.webp 2x"
                        type="image/">
                    <img src="./images/hero/desctop/jpg/icecream-x1.jpg" alt="">
                </picture>
            </li>

            <li class="item-hero hero-right-part">
                <div class="hero-info-figures">
                    <span>
                        <p>
                            16
                        </p>
                        <p>
                            cafes
                        </p>
                    </span>
                    <span>
                        <p>
                            23
                        </p>
                        <p>
                            food trucks
                        </p>
                    </span>
                </div>
                <picture>
                    <source media="(min-width: 1200px )" srcset="./images/hero/desctop/jpg/girl-icecream-x1.jpg 1x, ./images/hero/desctop/jpg/girl-icecream-x2.jpg 2x, ./images/hero/desctop/webp/girl-icecream-x1.webp 1x, ./images/hero/desctop/webp/girl-icecream-x2.webp 2x" type="image/">
                    <source media="(min-width: 768px)" srcset="./images/hero/tablet/jpg/girl-icecream-x1.jpg 1x, ./images/hero/tablet/jpg/girl-icecream-x2.jpg 2x, ./images/hero/tablet/webp/girl-icecream-x1.webp 1x, ./images/hero/tablet/webp/girl-icecream-x2.webp 2x" type="image/">
                    <img src="./images/hero/desctop/jpg/girl-icecream-x1.jpg" alt="">
                </picture>
            </li>
        </ul>
    </div>
</section>