<!-- Локация -->

<section class="location">
    <div class="container locationContainer">
        <h2 class="visually-hidden">our location and opening hours</h2>
        <ul class="list">
            <li class="locationCard">
                <h3 class="cardTitle">CAFE</h3>
                <h4 class="locationName">Chicago</h4>
                <p class="locationText">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <address>
                    <ul>
                        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>

            <li class="locationCard"> 
                <h3 class="cardTitle food">FOOD TRUCK</h3>
                <h4>Los Angeles</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <address>
                    <ul>
                        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>

            <li class="locationCard"> 
                <h3 class="cardTitle">CAFE</h3>
                <h4>New York</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <address>
                    <ul>
                        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
        </ul>

        <ul>
            <li><button type="button">Our Locations</button></li>
            <li><button type="button">Franchise</button></li>
        </ul>
    </div>
</section>