<!-- Локация -->

<section class="location">
    <div class="container locationContainer">
        <h2 class="visually-hidden">our location and opening hours</h2>
        <ul class="list">
            <li class="locationCard">
                <h3 class="cardTitle">CAFE</h3>
                <h4 class="locationName">Chicago</h4>
                <p class="locationText">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="item">
                        <p class="openingDays">Monday - Friday</p>
                        <p class="openinHours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="item">
                        <p class="openingDays">Saturday - Sunday</p>
                        <p class="openinHours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <address>
                    <ul class="contactsList">
                        <li><a class="contactsItem" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a class="contactsItem" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>

            <li class="locationCard"> 
                <h3 class="cardTitle food">FOOD TRUCK</h3>
                <h4 class="locationName">Los Angeles</h4>
                <p class="locationText">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="item">
                        <p class="openingDays">Monday - Friday</p>
                        <p class="openinHours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="item">
                        <p class="openingDays">Saturday - Sunday</p>
                        <p class="openinHours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                
                <address>
                    <ul class="contactsList">
                        <li><a class="contactsItem" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a class="contactsItem" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>

            <li class="locationCard"> 
                <h3 class="cardTitle">CAFE</h3>
                <h4 class="locationName">New York</h4>
                <p class="locationText">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="item">
                        <p class="openingDays">Monday - Friday</p>
                        <p class="openinHours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="item">
                        <p class="openingDays">Saturday - Sunday</p>
                        <p class="openinHours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                
                <address>
                    <ul class="contactsList">
                        <li><a class="contactsItem" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a class="contactsItem" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
        </ul>

        <ul class="buttons">
            <li><button class="locationButton accentButton" type="button">Our Locations<svg class="buttonIcon" width="5" height="8">
                        <use href="./images/sprite.svg#forButton"></use>
                    </svg> </button></li>
            <li><button class="locationButton hoverButton" type="button">Franchise<svg class="buttonIcon" width="5" height="8">
                <use href="./images/sprite.svg#forButton"></use>
            </svg> </button></li>
        </ul>
    </div>
</section>