
 <div class="preparation">
    <div class="preparation-container container">
     <span class="heading">tradition and love</span> 
     <h2 class="made">how it’s made?</h2>
       
        <div class="preparation-paragraph">
         <picture class="trademark">
            <source srcset="
            ./images/preparation-mobil/trademark.png 1x,
            ./images/preparation-mobil/trademark@2x.png 2x"
            media="(max-width:767px)"
            
            type="image/png" > 
   
             <img class="trademark" src="./images/preparation-mobil/trademark.png" alt="корова и молоко">
        </picture>
 
         <div class="preparation-paragraph-text">
           <p class="madetxt">
             Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
             eros.
             Maecenas eleifend erat at justo fringilla.
           </p>
           <p class="made-text">
             Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
             Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.  
            <span class="made-text-1">
                Aliquam erat volutpat. Aenean accumsan. 
            </span>
             
           </p>
           <button class="preparation-button">Read more
             <svg class="preparation-button-icon">
               <use href="./images/sprite.svg#icon-button-arrow"></use>
             </svg> </button>
         </div>
        </div> 
        
       
      
       <picture class="milk-relative">
          <source srcset="
          ./images/preparation-mobil/sectionbg.png 1x,
          ./images/preparation-mobil/sectionbg@2x.png 2x"
          media="(max-width:767px)"
          type="image/png" >
 
          <img src="./images/preparation-mobil/sectionbg.png" alt="фон молока">
      </picture>
 
 
         <ul  class="total">
           <li class="total-item">
             <svg class="preparation-icon">
               <use href="./images/sprite.svg#icon-milk">
               </use>
             </svg>
               <span class="indicators">721</span> 
              <p class="indicatorstxt">
               Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
               </p>  
          </li>
     
          <li class="total-item">
                <svg class="preparation-icon">
                <use href="./images/sprite.svg#icon-apples">
                </use>
              </svg>
               <span class="indicators">16kg</span>   
               <p class="indicatorstxt">
               Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
               </p>
           </li>
      
           <li class="total-item"  >
             <svg class="preparation-icon">
                <use href="./images/sprite.svg#icon-ice-cream">
                </use>
              </svg>
              <span class="indicators">84</span>  
              <p class="indicatorstxt">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
              </p>
          </li>
      </ul>
 </div>
    </div>
        

    




