<section>
    <div>
        <ul>
            <li><h2>tradition and love</h2></li>
            <li><h2>how it’s made?</h2></li>
        </ul>
    </div>

    <div>
        <img src="" alt="корова и молоко">
    </div>

    <div>
        <p>
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
    </div>

    <div>
        <img src="" alt="фон молока">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div>
        <button>Read more</button>
    </div>

    <div>
        <div>
            <img src="" alt="стакан">
            <li>721</li>
             <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
             </p>
        </div>

        <div>
            <img src="" alt="корзина с яблоками">
            <li>16kg</li>
             <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
             </p>
        </div>
        
        <div>
            <img src="" alt="мороженое">
            <li>84</li>
             <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
             </p>
        </div>
        
    </div>


    
</section>