header {
    position: relative;
    overflow: hidden;
}
.main-nav {
    position: absolute;
    width: 100%;
    z-index: 11;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
        padding-top: 6px;
        padding-left: 20px;
    }
}
.logo {
    display: flex;
    width: 199px;
    align-items: center;
    font-family: $font-family-title;
    font-weight: $font-weight-body;
    font-size: 27px;
    line-height: 1.13;
    letter-spacing: $letter-spacing-body;
    text-transform: uppercase;
    color: $primary-passion-color;

    .img-logo {
        margin-right: 20px;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 38px;
        left: 45px;
    }
}

.burger-menu {
    
    @media screen and (max-width: 1199px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 502px;
        padding-top: 136px;
        background-color: $burger-pink-color;
        text-align: center;
        
        transform: translateX(100%);
        
        transition: transform 250ms $timing-function;
        
        &.is-open {
            transform: translateX(0);
            filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
        }
    }
    @media screen and (min-width: 1200px) {
        margin-top: 51px;
        margin-left: 354px;
    }
}
.btn-nav {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 209px;
    height: 44px;
    padding: 16px 37px;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.31;
    font-weight: $font-weight-bold;
    color: $primary-passion-color;
    background-color: $primary-white-color;
    border-radius: 22px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: $hover-button;
        cursor: pointer;
    }
    
    @media screen and (min-width: 1200px) {
        width: 159px;
        top: 39px;
        right: 116px;
    }
}
.buy {
    margin-left: 12px;

    @media screen and (min-width: 1200px) {
        margin-left: 11px;
    }
}
.nav-menu {
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $title-pink-color;
    color: $primary-passion-color;
    border-radius: 50%;
    border: 1px solid $title-pink-color;
    outline: transparent;
    cursor: pointer;
    overflow: hidden;
    
    &:hover, &:focus {
        background-color: $primary-passion-color;
        color: $primary-white-color;
    }
    
    transition: background-color 250ms $timing-function, color 250ms $timing-function;
    
    .icon-close {
        display: none;
    }
    &.is-open {
        position: absolute;
        top: 23px;
        right: 8px;
        z-index: 3;
        color: $primary-white-color;
        background-color: $title-pink-color;
        
        transition: background-color 250ms $timing-function, transform 250ms $timing-function;
        
        &:hover, &:focus {
            background-color: $primary-passion-color;
            transform: rotate(90deg);
        }
        
    }
    &.is-open .icon-close {
        display: block;
        
        width: 16px;
        height: 16px;
        padding: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: transparent;
        border: 1px solid transparent;
        outline: transparent;
        cursor: pointer;
        
        transition: background-color 250ms $timing-function;
    }
    &.is-open .icon-menu {
        display: none;
    }
    
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.menu {
    stroke: currentColor;
}

.site-nav {
    
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: $hero-pink-color;
    }
        
        .item {
            @media screen and (max-width: 1199px) {
                width: 100%;
                padding-top: 11px;
                padding-bottom: 13px;
                padding-left: 21px;
                text-align: start;
                border-top: 1px solid #E18298;

                &:last-child {
                    border-bottom: 1px solid #E18298;
                }
            }
        }
        .item + .item {
            @media screen and (min-width: 1200px) {
                margin-left: 35px;
            }
        }

    .link {
        font-family: $font-family-body;
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 1.29;
        color: $primary-white-color;

        &:hover, &:focus {
            color: $primary-passion-color;
        }
    }
}
.arrow {
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    border: transparent;
    outline: transparent;
    border-radius: 50%;

    cursor: pointer;
    color: $primary-passion-color;
    background-color: rgba(128, 128, 128, 0.2);

    &:hover, &:focus {
        color: $title-pink-color ;
    }
}
.arrow-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }