.preparation {
  // position: relative;
  background-color: $footer-pink-color;
  padding-bottom: 97px;
  @media screen and(min-width:768px) {
    padding-bottom: 140px;
  }
  @media screen and(min-width:1200px) {
    padding-bottom: 140px;
  }
}
.preparation-container {
  padding-top: 125px;
  text-align: center;
  position: relative;
  @media screen and(min-width:768px) {
    padding-top: 130px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 125px;
  }
}

.heading {
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
  font-family: $font-family-title;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $title-pink-color;
  @media screen and(min-width:768px) {
    width: 285px;
    margin-bottom: 16px;
    font-size: 26px;
  }
  @media screen and(min-width:1200px) {
    width: 351px;
    margin-bottom: 15px;

    font-size: 30px;
  }
}

.made {
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  font-family: $font-family-title;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-passion-color;

  @media screen and(min-width:768px) {
    width: 431px;
    margin-bottom: 50px;
    font-size: 48px;
  }
  @media screen and(min-width:1200px) {
    width: 534px;
    margin-bottom: 55px;
    font-size: 58px;
  }
}

.milk-relative {
  position: absolute;
  // top: 750px;
  top: 766px;
  left: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and(min-width:320px) {
    width: 320px;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
  @media screen and(min-width:1200px) {
    display: block;
    width: 1200px;
    top: 342px;
  }
}

.preparation-paragraph {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.trademark {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
  @media screen and (min-width: 768px) {
    margin-right: 17px;
    width: 340px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 17px;
    width: 516px;
  }
}

.madetxt {
  width: 220px;
  // display: inline-block;

  margin-bottom: 35px;
  font-family: $font-family-body;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $black-text-color;
  margin-right: auto;
  margin-left: auto;
  text-align: start;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    width: 340px;
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    font-size: 16px;
    line-height: 176%;
  }
}

.made-text {
  margin-bottom: 20px;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  font-family: $font-family-body;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $gray-text-color;
  text-align: left;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    width: 340px;
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 45px;
    width: 463px;
    font-size: 14px;
    line-height: 194%;
  }
}

.made-text-1 {
  display: inline-block;
  padding-top: 20px;
}

.preparation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;
  width: 176px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family-body;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $primary-passion-color;
  border-radius: 22px;
  border: solid $primary-white-color;
  background-color: $primary-white-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 66px;
  }
}

.preparation-button-icon {
  display: block;
  width: 8px;
  height: 16px;
  margin-left: 14px;
  fill: $primary-passion-color;
}

.total {
  text-align: left;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.total-item:not(:last-child) {
  margin-bottom: 38px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 33px;
  }
}

.total-item {
  @media screen and (min-width: 768px) {
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    width: 330px;
  }
}

.preparation-icon {
  margin-bottom: 16px;
  display: block;
  width: 50px;
  height: 50px;
  fill: $hero-pink-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.indicators {
  display: inline-block;
  margin-bottom: 10px;
  font-family: $font-family-title;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-passion-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
    font-size: 58px;
  }
}

.indicatorstxt {
  font-family: $font-family-body;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: $black-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
