.about-products{
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 98px;
    background-color:$primary-white-color ;
    @media screen and (min-width: 1200px) {
        padding-left: 115px;
        padding-right: 115px;
    }
    b{
        display: block;
        margin-bottom: 15px;
        font-family:$font-family-title;
        font-style: normal;
        font-weight: $font-weight-body;
        font-size: 18px;
        line-height: 21px;

        text-align: center;
        text-transform: uppercase;

        color:$title-pink-color;
        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0em;
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.04em;
        }
    }
    h2{
        margin-bottom: 130px;
        font-family: $font-family-title;
        font-style: normal;
        font-weight: $font-weight-body;
        font-size: 34px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $primary-passion-color;

        @media screen and (min-width: 768px) {
            margin-bottom: 150px;
  
            font-size: 48px;
            line-height: 55px;
            letter-spacing: 0.04em;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 250px;

            font-size: 58px;
            line-height: 66px;
            letter-spacing: 0.06em;
        }
    }
}
.products-menu{
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
    
}
.products-cards{
    width: 280px;
    padding: 0px 20px 40px;
    border-radius: 15px;
    margin-bottom: 130px;

    @media screen and (min-width: 768px) {
        width: 220px;
        margin-right: 20px;
        margin-bottom: 0px;
        padding: 0px 10px 40px;

        &:last-child{
        margin-right: 0px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 335px;
        margin-right: 23px;
        margin-bottom: 0px;

        &:last-child{
        margin-right: 0px;
        }
    }
    &:last-child{
        margin-bottom: 0px;
        }
    &.ice-cream{
        background-color:$title-pink-color ;
    }
    &.ice-coffee{
        background-color:$accent-coffee-color ;
    }
    &.milkshakes{
        background-color:$accent-green-color ;
    }
    h3{
        font-family: $font-family-title;
        font-style: normal;
        font-weight: $font-weight-body;
        font-size: 20px;
        line-height: 23px;

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color:$primary-white-color;

        @media screen and (min-width: 768px) {
            
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.04em;   
        }
    }
    p{
        margin: 30px 0px;
        padding: 0 40px;
        text-align: center;
        font-family:$font-family-body;
        font-style: normal;
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 152%;
        letter-spacing: 0.04em;

        color: $primary-white-color;
        @media screen and (min-width: 768px) {
            padding: 0px; 
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.04em;
        }
        &.decor{
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 30px;
        }
    }
    img{
        display: inline-block;
        width: 100%;
        margin-top: -130px;
        margin-bottom: 22px;
        @media screen and (min-width: 768px) and (max-width: 1199px){
            width: 220px;
            height: 224px;
            margin-left: -8px;
        }
    }
}

.about-btn{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;

    font-weight:$font-weight-bold;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 50%;
    background-color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $timing-function;

    &:hover, 
    &:focus {
        background-color:$hover-button ;
        cursor: pointer;
    }
}
